
.CreatePost {
    padding: 40px 0;
}

.CreatePost {
    margin: auto;
    max-width: 80%;
}
.Quill {
    min-height: 500px;
}
.Cancelbutton{
    width: 30%;
    float: left;
    margin: 5px;
    color: #4f5b69;

}
.Postbutton{
    width: 30%;
    float: left;
    margin: 5px;

}