.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(85, 145, 146);
    height: 56px;
}

.navbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.navbar_logo span {
    color: white;
    text-decoration: none;
    font-size: 2rem;

}

.search_bar {
    position: relative;
    left: 30rem;
    width: 45%;
    font-size: 10px;

}

.navbar_button {
    position: relative;
    left: 40rem;
    color: white;
}

.navbar_button a {

    color: white;
}

.SignUp {
    position: relative;
    left: 1rem;
}

.btn {
    outline: none !important;
   box-shadow: none;
    background: rgb(85, 145, 146);
    border-color: rgb(85, 145, 146);
}
.btn:focus {
    outline: none !important;
   box-shadow: none;

}
.btn:active {
    outline: none !important;
   box-shadow: none;

}