.navbar {
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(85, 145, 146);
    height: 56px;
}

.navbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.navbar_logo span {
    color: white;
    text-decoration: none;
    font-size: 2rem;

}

.navbar_button {
    position: relative;
    left: 40rem;
    color: white;
}

.navbar_button a {

    color: white;
}

.SignUp {
    position: relative;
    left: 1rem;
}

.btn1:hover {
    outline: none !important;
    box-shadow: none;
    background: rgb(85, 145, 146);
    border-color: rgb(85, 145, 146);

}

.btn1 {
    outline: none !important;
    box-shadow: none;
    background: rgb(85, 145, 146);
    border-color: rgb(85, 145, 146);
}

.btn1:focus {
    outline: none !important;
    box-shadow: none;
    background: rgb(85, 145, 146);
    border-color: rgb(85, 145, 146);

}

.btn1:active {
    outline: none !important;
    box-shadow: none;
    background: rgb(85, 145, 146);
    border-color: rgb(85, 145, 146);

}

.dropdownb {
    position: relative;
    left: 2rem;
}

.btn1.active.focus, .btn1.active:focus, .btn1.active:hover, .btn1:active.focus, .btn1:active:focus, .btn1:active:hover, .open > .dropdown-toggle.btn1.focus, .open > .dropdown-toggle.btn1:focus, .open > .dropdown-toggle.btn1:hover {
    outline: none !important;
    box-shadow: none;
    background: rgb(85, 145, 146);
    border-color: rgb(85, 145, 146);
}

.btn1.open .dropdown-toggle {
    outline: none !important;
    box-shadow: none;
    background: rgb(85, 145, 146);
    border-color: rgb(85, 145, 146);
}