body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  /*--side bar, left side */
  
  
  
  
  /*--right side--*/
  
  /*--top--*/
  .tile_count {
      margin-bottom: 20px;
      margin-top: 20px
  }
  .tile_count .tile_stats_count {
      padding: 0 10px 0 30px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative
  }
  
  .tile_count .tile_stats_count:before {
      content: "";
      position: absolute;
      left: 0;
      height: 65px;
      border-left: 2px solid #ADB2B5;
      margin-top: 10px
  }
  @media (min-width: 992px) {
      .tile_count .tile_stats_count:first-child:before {
          border-left: 0
      }
  }
  .tile_count .tile_stats_count .count {
      font-size: 50px;
      line-height: 47px;
      font-weight: 600px;
      color: #5b90bf;
  }
  
  .tile_count .tile_stats_count span {
      font-size: 17px
  }
  .tile_count .tile_stats_count .count_bottom i {
      width: 12px
  }
  .trash{
      font-size:10,6em
  
  }
  .tria{
      font-size:1,6em
  }