.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(85, 145, 146);
    height: 56px;
}

.navbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.navbar_logo span {
    color: white;
    text-decoration: none;
    font-size: 2rem;

}

.search_bar {
    align-items: center;
    left: 0;
}

.navbar_button a {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
    color: White;
}
